*{
  box-sizing: border-box;
}

.heading{
   font-size: 90px;
   text-align: center;
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.container{
  display: flex;
  justify-content: flex-end;
}
.middlepart{
  /* border: 2px solid red; */
  width: 30%;
  padding: 40px;
}

.search-input {
  flex: 1;
  padding: 20px;
  border: 1px solid black;
  margin: 0 200px;
  border-radius: 22px;
  font-size: 20px;
}

.box{
  display: flex;
  justify-content: center;
  gap : 30px;
  
}

.box a{
  padding: 20px;
  text-decoration: none;
  border-radius: 12px;
  background: #1bb76e;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.upperbox{
  margin-top: 10px;
  display: flex;
  gap :20px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  
}

.btn{
  padding: 10px;
  border: 2px solid;
  border-radius: 12px;
  background: #8ee380;
  font-weight : bold;
  cursor: pointer;
}


.footer{
  margin-top: 40px;
}
.footer-items{

  display: flex;
  gap: 20px;

}
.footer-items a{
  text-decoration: none;

}


.search-button,
.lucky-button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}


.search-result {
  margin-bottom: 20px;
}

/* Add styles for search result items (title, description, link) */
